<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/bucket1.css">
</head>
<body>
    <div class="container">
       <form action="/save" method="post">
        <div class="criteria"><p>Quality of the conference</p>
          <select name="selectedOption" id="select1">
              <option value="1">Conference by IEEE/Springer/ACM or Equivalent/INDAM/IIMs/IITs</option>
              <option value="2">State college + AICTE/IEEE/ISTE or equivalent etc</option>
              <option value="3">University sponsored or equivalent</option>
              <option value="4">Any Other</option>
          </select>
      </div>
      <div class="btn">
        <button id="saveButton">Save</button>
      </div>
       </form>
    </div>
</body>
</html>