<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/bucket.css">
    
    <style>
       .option-list{
        height:2rem;
        width: 10rem;   
       }  
    </style>


</head>
<body>
    <div class="container">
        <form action="/save" method="post">
            <div class="criteria"><p>Quality of the conference</p>
                <select name="selectedOption1" class="option-list" required>
                    <option value="">Select option</option>
                    <option value="1" required>Conference by IEEE/Springer/ACM or Equivalent/INDAM/IIMs/IITs</option>
                    <option value="2" required>State college + AICTE/IEEE/ISTE or equivalent etc</option>
                    <option value="3" required>Conference by State college + IEEE or equivalent sponsored</option>
                    <option value="4" required>University sponsored or equivalent</option>
                    <option value="5" required>Any Other</option>
                </select>
            </div>
            <div class="criteria"><p>Level</p>
                <select name="selectedOption2" class="option-list" required>
                    <option value="">Select option</option>
                    <option value="1" required>International</option>
                    <option value="2" required>National</option>
                    <option value="3" required>State</option>
                    <option value="4" required>Any Other</option>
                </select>
            </div>
            <div class="criteria"><p>Amount of waiver in Registration fess</p>
                <select name="selectedOption3" class="option-list" required>
                    <option value="">Select option</option>
                    <option value="1" required>100% of the conference registration fees</option>
                    <option value="2" required>80% of the conference registration fees</option>
                    <option value="3" required>60% of the conference registration fees</option>
                </select>
            </div>
            <button>Save</button>
        </form>
    </div>
</body>
</html>