<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="container1">
        <div class="one">
            <div class="logo">logo</div>
            <div class="name">name</div>
        </div>
        <div class="two">profile</div>
    </div>
    <div class="container2">
        <div class="research box"> <a href="bucket1.ejs">Research</a></div>
        <div class="research box">Research</div>
        <div class="research box">Research</div>
        <div class="research box">Research</div>
        <div class="research box">Research</div>
        <div class="research box">Research</div>
        <div class="research box">Research</div>
    </div>
    <script src="index.js"></script>
</body>
</html>