<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/styles/main.css">

<body>
  <!-- NAVBAR -->
  <nav>
    <img src="/images/Vit_logo.jpg" class="logo">
    <div class="profile">
      <p style="margin-top: 10px;">Profile</p>
      <img src="/images/profile.jpg" class="user-pic" onclick="toggleMenu()">
    </div>
    <div class="sub-menu-wrap" id="subMenu">
      <div class="sub-menu">
        <div class="user-info">
          <img src="/images/user.png">
          <% if(locals){%>
          <h3><%= name %></h3>
          <% } %>
        </div>
        <hr>
        <a href="#" class="sub-menu-link">
          <img src="/images/profile.png">
          <p>Edit Profile</p>
          <span>></span>
        </a>
        <a href="#" class="sub-menu-link">
          <img src="/images/setting.png">
          <p>Settings & Privacy</p>
          <span>></span>
        </a>
        <a href="login.ejs" class="sub-menu-link">
          <img src="/images/logout.png">
          <p>logout</p>
          <span>></span>
        </a>
      </div>
    </div>
  </nav>
  <!-- Card Slider -->
  <div class="card-wrapper">
    <div class="card">
      <div class="image-content">
        <span class="overlay"></span>
        <div class="card-image">
          <!-- <img src="/images/profile1.jpg" alt="" class="card-img"> -->
          <p>Research Bucket-1</p>
        </div>
      </div>

      <div class="card-content">
        <p class="description">
          Papers published in National/International Conference.
        </p>
       <form action="/viewmore" method="post">
        <button class="button"><a href="bucket1.ejs"></a>View More</button>
       </form>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <span class="overlay"></span>
        <div class="card-image">
          <!-- <img src="/images/profile1.jpg" alt="" class="card-img"> -->
          <p>Research Bucket-2</p>
        </div>
      </div>

      <div class="card-content">
        <p class="description">
          Papers published in National/International Journal 
        </p>
        <form action="/viewmore" method="post">
          <button class="button"><a href="bucket1.ejs"></a>View More</button>
         </form>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <span class="overlay"></span>
        <div class="card-image">
          <!-- <img src="/images/profile1.jpg" alt="" class="card-img"> -->
          <p>Research Bucket-3</p>
        </div>
      </div>

      <div class="card-content">
        <p class="description">
          Fellowship received for National/International Conference
        </p>
        <form action="/viewmore" method="post">
          <button class="button"><a href="bucket3.ejs"></a>View More</button>
         </form>
      </div>
    </div>
  </div>
  </div>


  <script>
    let subMenu = document.getElementById("subMenu");
    function toggleMenu() {
      subMenu.classList.toggle("open-menu");
    }
  </script>
</body>

</html>