<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link rel="stylesheet" type="text/css" href="styles/signup.css">
  <script src="https://kit.fontawesome.com/754fd7ceb0.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="container">
    <div class="form-box">
      <h1 id="title">Sign Up</h1>
      <form action="/signup" method="POST">
        <div class="input-group">
          <div class="name" id="nameField">
            <i class="fa-solid fa-user"></i>
            <input type="email" placeholder="Username" name="username">
          </div>

          <div class="password">
            <i class="fa-solid fa-lock"></i>
            <input type="password" placeholder="Password" name="password">
          </div>
          <div class="confirmpassword">
            <i class="fa-solid fa-lock"></i>
            <input type="password" placeholder="Confirm Password" name="confirmpassword">
          </div>
          <div class="btn">
            <button type="submit" value="signup" id="signupBtn">Sign up</button>
          </div>
      </form>
    </div>
  </div>


</body>

</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="styles/signup.css">
    <script src="https://kit.fontawesome.com/754fd7ceb0.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
      <div class="form-box">
        <h1 id="title">Sign Up</h1>
        <form action="/signup" method="POST">
            <div class="input-group">
              <div class="input-field" id="nameField">
                <i class="fa-solid fa-user"></i>
                <input type="text" placeholder="Username">
            </div>

            <div class="input-field">
              <i class="fa-solid fa-lock"></i>
                  <input type="password" placeholder="Password">
          </div>
                <div class="input-field">
                  <i class="fa-solid fa-lock"></i>
                      <input type="password" placeholder="Confirm Password">
              </div>
              <div class="btn-field">
                <button type="button" id="signupBtn">Sign up</button>                
              </div>
        </form>
      </div>
  </div>

    
</body>
</html> -->