<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="styles/form.css">
   
</head>
<body>
    <div class="wrapper">
        <h2>Sign Up</h2>
        <form action="/signup" method="POST">
            <div class="container">
                <div class="name">
                    <input type="text" placeholder="Username" style="height:30px; width:300px" name="name">
                </div>
                <div class="password">
                    <input type="password" placeholder="Password" name="password" style="height:30px; width:300px">
                </div>
                <div class="confirmpassword">
                    <input type="password" placeholder="Confirm Password" name="confirmpassword" style="height:30px; width:300px" >
                </div>
                <div class="btn">
                    <button type="submit" value="signup" style="background-color:aquamarine; height:35px; width:308px;cursor: pointer">Sign Up</button>
                </div>
            </div>
        </form>
    </div>

    
</body>
</html>