body{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
 display: flex;
 justify-content:center;
 align-items: center;
 flex-direction: column;
}

h2{
  text-align: center;
  margin-bottom: 30px;
}
.container .name{
 padding: 0.4rem;
}

.container .password{
  padding: 0.4rem;
}

.container .confirmpassword{
  padding: 0.4rem;
}

button{
padding: 0.5rem;
background-color:aquamarine;
height:35px; 
width:308px;
cursor: pointer
}

.box{
height:30px; 
width:300px
}

